body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
/* Title */
.Web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 114%;
}
.Studio {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 18px;
  line-height: 114%;
}
/* Navigation */

.studio-navigation,
.portfolio-navigation,
.contacts-navigation {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.studio-navigation:hover,
.studio-navigation:focus,
.portfolio-navigation:hover,
.portfolio-navigation:focus,
.contacts-navigation:hover,
.contacts-navigation:focus {
  color: #404bbf;
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* Contacts */

.list-contacts-address,
.list-contacts-phone {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.list-contacts-address:hover,
.list-contacts-address:focus,
.list-contacts-phone:hover,
.list-contacts-phone:focus{
  color: #404bbf;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}

/* Buttons */

.buttons {
  font-weight: 500;
  line-height: 128%;
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #e7e9fc;
  border-color: #e7e9fc;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  font-weight: 500;
  line-height: 128%;
  font-family: "Roboto", sans-serif;
  color: #e7e9fc;
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  cursor: pointer;
}
.button-order {
  font-weight: 500;
  line-height: 128%;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  cursor: pointer;
}
.button-order:hover, .button-order:focus {
  font-weight: 500;
  line-height: 128%;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #404bbf;
  border-color: #404bbf;
  cursor: pointer;
}

/* Portfolio */

.portfolio-text-h {
  font-size: 20px;
  line-height: 102%;
  color: #2e2f42;
}
.portfolio-text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  color: #434455;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  color: #ffffff;
  width: 1440px;
  height: 310px;
  top: 2280px;
}
.Studio-footer {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  line-height: 114%;
}
.footer-text-p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  color: #ffffff;
}

/* Effective Solutions*/

.effective-solutions {
  background-color: #2e2f42;
}
.effective-solutions-h {
  color: #ffffff;
  font-size: 56px;
  line-height: 91%;
  text-decoration: none;
}
